h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

p.italico {
    color: hsla(0, 26%, 81%, 0.844);
    text-align: justify;
    text-indent: 50px;
    font-family: 'arial', helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
}

p.normal {
    color: hsla(61, 90%, 52%, 0.844);
    text-align: justify;
    text-indent: 50px;
    font-family: 'arial', helvetica, sans-serif;
    font-size: 1em;
}
body {
    background-color: rgb(244,241,177);
    background-image:url() ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

a {
    text-decoration: underline double #02ffcc;
    text-transform: capitalize;
    display: inline;

}

a:hover {
    color: #f0f;
}

li.nordenada {
    list-style-image: url("https://cdn-icons-png.flaticon.com/512/32/32195.png");
}

li.ordenada {
    list-style-type: upper-alpha;
}

table,th,td {
    border: 2px solid black;
    width: 100%;
    height: 50%;
    padding: 20px;
}